<%- include('./includes/head') %> <%- include('./includes/nav') %>

<div class="container">
  <div class="row">
    <div class="clo-lg-2"></div>
    <div class="clo-lg-8 my-5">
      <h1 class="display-1 text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>

      <%- include('./includes/messages')%>
     

      <div class="responsive-table my-3">
        <table class="table">
          <tr>
            <% contatos.forEach((e) => {%>
            <td><%= e.nome%></td>
            <td><%= e.sobrenome%></td>
            <td><%= e.email%></td>
            <td><%= e.telefone%></td>
            <td>
              <a class="btn btn-info text-white" href="/contato/<%= e._id %>">Editar</a>
            </td>
            <td>
              <a href="/contato/delete/<%= e._id %>" class="btn btn-danger">Excluir</a>
            </td>

          </tr>
          <%})%>
        </table>
      </div>
    </div>
    <div class="clo-lg-2"></div>
  </div>
</div>

<%- include('./includes/footer') %>
