<%- include('./includes/head') %> 
<%- include('./includes/nav') %>

<div class="container">
  <div class="row">
    <div class="clo-lg-2"></div>
    <div class="clo-lg-8 my-5">
      <h1 class="display-1 text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>

      <%- include('./includes/messages')%>
     
      <% if (contatos && contatos.length > 0) { %>
        <div class="responsive-table my-3">
          <table class="table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Editar</th>
                <th>Excluir</th>
              </tr>
            </thead>
            <tbody>
              <% contatos.forEach((e) => { %>
              <tr>
                <td><%= e.nome %></td>
                <td><%= e.sobrenome %></td>
                <td><%= e.email %></td>
                <td><%= e.telefone %></td>
                <td>
                  <a class="btn btn-info text-white" href="/contato/<%= e._id %>">Editar</a>
                </td>
                <td>
                  <a class="btn btn-danger text-white" href="/contato/delete/<%= e._id %>">Excluir</a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      <% } else { %>
        <p>Nenhum contato encontrado.</p>
      <% } %>
    </div>
    <div class="clo-lg-2"></div>
  </div>
</div>

<%- include('./includes/footer') %>
